@{
    ViewBag.Title = "Contact";
}


<h2>新增</h2>
<br />

<form action="/HRList/CreatPPM" method="post">
    <div>
        <label>ppm99_stfn編號</label>
        <input type="text" name="ppm99_stfn" />
    </div>
    <div>
        <label>ppm99_name名字</label>
        <input type="text" name="ppm99_name" />
    </div>
    <div>
        <label>ppm99_jdate日期</label>
        <input type="text" name="ppm99_jdate" />
    </div>
    <div>
        <label>ppm99_gender性別</label>
        <input type="text" name="ppm99_gender" />
    </div>
    <div>
        <label>pm99_military服兵役</label>
        <input type="text" name="ppm99_military" />
    </div>
    <div>
        <label>ppm99_transportList交通方式</label>
        <input type="text" name="ppm99_transportList" />
    </div>
    <div>
        <label>ppm99_city地址縣市</label>
        <input type="text" name="ppm99_city" />
    </div>
    <div>
        <label>ppm99_zone地址鄉鎮</label>
        <input type="text" name="ppm99_zone" />
    </div>
    <div>
        <label>ppm99_addr地址門牌</label>
        <input type="text" name="ppm99_addr" />
    </div>

    <!--

        <th>編號</th>
    <th>名稱</th>
    <th>日期</th>
    <th>性別</th>
    <th>服兵役</th>
    <th>交通方式</th>
    <th>地址縣市</th>
    <th>地址鄉鎮</th>
    <th>地址門牌</th>
        ppm99_stfn
        ppm99_name
        ppm99_jdate
        ppm99_gender
        pm99_military
        ppm99_transportList
        ppm99_city
        ppm99_zone
        ppm99_addr
            -->

    <input type="submit" value="新增" />
</form>
