@{
    ViewBag.Title = "Contact";
}


<div class="page-title">
    <h3>
        新增員工資料
    </h3>
</div>
<br />

<form action="/HRDetail/AddStaffDetail" method="post">
    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <td>
                <input type="text" name="ppm99_stfn"/>
            </td>
        </tr>
        <tr>
            <th>
                名字
            </th>
            <td>
                <input type="text" name="ppm99_name"/>
            </td>
        </tr>
        <tr>
            <th>
                日期
            </th>
            <td>
                <input type="text" name="ppm99_jdate"/>
            </td>
        </tr>
        <tr>
            <th>
                性別
            </th>
            <td>
                <input type="radio" name="ppm99_gender" value="M" checked/> 男
                <input type="radio" name="ppm99_gender" value="F" /> 女
            </td>
        </tr>
        <tr>
            <th>
                服兵役
            </th>
            <td>
                <select name="ppm99_military">
                    <option value="" selected>未填寫</option>
                    <option value="1">役畢</option>
                    <option value="2">免役</option>
                    <option value="3">未役</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                交通方式
            </th>
            <td>
                <input type="text" name="ppm99_transportList"/>
            </td>
        </tr>
        <tr>
            <th>
                地址縣市
            </th>
            <td>
                <input type="text" name="ppm99_city"/>
            </td>
        </tr>
        <tr>
            <th>
                地址鄉鎮
            </th>
            <td>
                <input type="text" name="ppm99_zone"/>
            </td>
        </tr>
        <tr>
            <th>
                地址門牌
            </th>
            <td>
                <input type="text" name="ppm99_addr"/>
            </td>
        </tr>
    </table>

    <button type="submit" name="submitButton" value="save">保存</button>
    <button type="submit" name="submitButton" value="cancel">取消</button>

</form>
